{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="content-center">
    <h1>Historia</h1>
    <p>Nuestro origen tiene lugar en la ciudad de Monterrey, N.L. cuando en 1917 se fundó Raúl García y Compañía, empresa dedicada a la molienda de semillas oleaginosas.</p>
    <br>
    <p>Ragasa es un importante eslabón de la cadena agroindustrial del país, ya que fuimos los primeros en atender la demanda de aceites y productos de origen vegetal, con la finalidad de sustituir las mantecas de origen animal para ofrecer salud y calidad a nuestros clientes.</p>
    <br>
    <p>Además hemos consolidado el esfuerzo conjunto para mantener el desarrollo de una empresa sustentable, porque no solo transformamos los productos del campo en alimento para el ser humano sino también para el consumo animal o pecuario.</p>
    <br>
    <p>El espíritu de superación y servicio que caracterizó a nuestros fundadores nos ha motivado a continuar por el camino adecuado. Enfrentando cambios y retos para así poder responder con mejores procesos y productos, que conlleven a garantizar la calidad enfocada hacia nuestros clientes.</p>
    <h2>Somos Ragasa</h2>
    <h2>Sini orientados al cliente y consumidor</h2>
    <h2>Somo iniovadores</h2>
    <h3>Somos equipo</h3>
    <h3>Somos responsables con la sociedad</h3>    
</div>
</body>
</html>
{% endblock %}