<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Titleee</title>
</head>

<body>
<h1>Menu</h1>
</body>
<center>
        <section id="gallery">
        <div class="gallery-container">
            <figure class="gallery-item">
            <img src="inicio1.png" alt="Imagen 1">
                
            </figure>
            <figure class="gallery-item">
            <img src="inicio2.png" alt="Imagen 2">
            </figure>
            <figure class="gallery-item">
            <img src="inicio3.png" alt="Imagen 3">
            </figure>
            </figure>
            <figure class="gallery-item">
            <img src="inicio4.png" alt="Imagen 4">
            </figure>
            </figure>`x
            <figure class="gallery-item">
            <img src="inicio5.png" alt="Imagen 5">
            </figure>
            <!-- ... otras imágenes ... -->
        </div>
        <nav class="gallery-navigation">
            <button class="nav-button prev-button">Anterior</button>
            <button class="nav-button next-button">Siguiente</button>
        </nav>
        <img src="IMAGENES2.png" alt="inf">

</html>