{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
  <meta charset="UTF-8">
  <title>Titleee</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<main>
   <h1 class="inline-block bg-gradient-to-r from-zinc-400 via-gray-400 to-stone-300
               shadow-lg shadow-zinc-500/50 text-3xl rounded-xl text-black font-semibold
               px-6 py-2">Menuu</h1>
  <center>
  <section id="gallery">
    <div class="gallery-container">
      <figure class="gallery-item">
        <img src="{% static 'images/inicio1.png' %}" alt="Imagen 1">
      </figure>
      <figure class="gallery-item">
        <img src="{% static 'images/inicio2.png' %}" alt="Imagen 2">
      </figure>
      <figure class="gallery-item">
        <img src="{% static 'images/inicio3.png' %}" alt="Imagen 3">
      </figure>
      <figure class="gallery-item">
        <img src="imagenes/inicio4.png" alt="Imagen 4">
      </figure>
      <figure class="gallery-item">
        <img src="imagenes/inicio5.png" alt="Imagen 5">
      </figure>
    </div>

    <nav class="gallery-navigation">
      <button class="bg-sky-500/100 ...">Anterior</button>
      <button class="bg-sky-500/100 ...">Siguiente</button>
    </nav>

    <img src="{% static 'images/IMAGENES2.png' %}" alt="imagen banner">
  </section>
  </center>
      </main>
</body>


</html>