* {
   padding: 0px;
   margin: 0px;
}
main {
   background: #ffffff;
   width: 80%;
   margin: auto;
}

article {
   width: 90%;
   margin: auto;
}

img {
   width: 600px;
   height: auto;
   aspect-ratio: 16/9;
}
/* Estilo básico para el Slider*/
#gallery {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.gallery-container {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

.gallery-item {
   min-width: 100%;
   box-sizing: border-box;
}

.gallery-item img {
   width: 100%;
   display: block;
}

/* Navegación del Slider */
.gallery-navigation {
   display: flex;
   justify-content: space-between;
   position: relative;
   top: -50px;
}

.nav-button {
   background-color: #008CBA;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
}

.nav-button:hover {
background-color: #005f5f;
}

.marco {
   border: 2px solid black; /* Borde negro */
   padding: 20px;           /* Espacio interno */
   max-width: 600px;        /* Ancho máximo del marco */
   margin: 0 auto;          /* Centrado horizontal */
   font-family: Arial, sans-serif;
   text-align: justify;     /* Texto justificado */
   color: black;
   background-color: white;
}

.marco span {
   font-weight: bold; /* Texto en negrita para resaltar */
}